.BillEntryControl, .RemovableBillEntryControl {
    display: flex;
    max-width: 80%;
}

.Label , .BillInput{
    padding: 15px;
}

.Label, .BillInput {
    width: 50%;
}

input {
    margin-right: 10px;
}

.RemovableBillEntryControl{
    display: flex;
    margin-bottom: 20px;
}

.ClientName {
    margin-left: 15px;
}

.IndivClientLabel {
    margin-right: 10px;
}

.BtnAddClient {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 30px;
    margin-left: 20px;
}

.BillingModeControl{
    margin-bottom: 20px;
}

.MainPage {
    margin: 0 auto;
    max-width: 80%;
}

.BtnCalculate, .BillTotalControl {
    margin-left: 30px;
}